.HomeIcon {
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  &__Line {
    width: 100%;
    height: 3px;
    background-color: #1f1f1f;
    border-radius: 3px;
    margin-bottom: 5px;
    &:nth-child(1) {
      width: 33%;
    }
    &:nth-child(2) {
      width: 66%;
    }
  }
}
